<ion-modal-view ng-controller="AreasCtrl" dir="{{default_direction}}">
    <ion-header-bar class="bar-assertive">
        <h1 class="title title-right" translate="AREAS" ng-show="isRTL()"></h1>
        <button class="button button-icon button-clear" ng-click="prevStep()"><span class="icon" ng-class="isRTL() ? 'ion-chevron-right' : 'ion-chevron-left'"></span></button>
        <h1 class="title" translate="AREAS" ng-show="!isRTL()"></h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <div class="dl-location-bar"><img src="img/location-bg.jpg" /></div>
        <div class="bar bar-subheader bar-energized static text-center">
            <h4 class="title"><span translate="SELECT_AREA"></span></h4>
        </div>
        <div class="list" ng-show="done_loading == true">
            <a class="item dl-border-bottom-stable" ng-class="isRTL() ? 'item-icon-left text-right' : 'item-icon-right'" ng-repeat="area in areas" ng-click="setArea(area)">
                <i class="icon stable dl-menu-item-icon" ng-class="isRTL() ? 'ion-chevron-left' : 'ion-chevron-right'"></i><strong class="assertive"> {{ area.name }}</strong>
            </a>
        </div>
        <div ng-show="areas.length == 0" class="padding">
            <div class="icon ion-sad-outline stable" style="font-size: 100px; width: 100%; text-align: center;"></div>
            <h4 class="stable text-center" translate="NO_AREAS"></h4>
            <button class="button icon-{{default_float}} ion-location button-balanced button-small button-block" ng-click="prevStep()" translate="SELECT_ANOTHER_CITY"></button>
        </div>
    </ion-content>
</ion-modal-view>