<ion-view view-title="{{'YOUR_CART' | translate}}">
    <search-bar></search-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-class="data.showEdit == true ? 'ion-checkmark' : 'ion-edit'" ng-click="changeStatus()"></button>
    </ion-nav-buttons>
    
    <ion-content overflow-scroll="false">
        <div ng-if="cartItems.length > 0">
            <div class="bar bar-subheader bar-stable static text-center">
                <h5 class="title">{{cartShop.name}}</h5>
            </div>
            <div class="padding">
                <ion-list>
                    <ion-item ng-repeat="item in cartItems" style="border-bottom: 1px solid silver; padding-left: 0px;" class="item-remove-animate">
                        <span style="border-top: 6px solid transparent;" class="pull-left">{{item.name}} X {{item.price}}</span>
                        <span class="pull-right">
                            <i class="icon ion-minus-circled energized" style="font-size: xx-large;  display:inline-block; vertical-align: middle;" ng-show="data.showEdit" ng-click="decreseAmount(item)">
                            </i>
                            <span id="{{item.id}}" class="quantity-badge">{{item.quantity}}</span>
                            <i class="icon ion-plus-circled energized" style="font-size: xx-large;   display:inline-block; vertical-align: middle;" ng-show="data.showEdit" ng-click="increaseAmount(item)">
                            </i>
                            <span translate="PRICE" style="margin: 0px 0px 0px 10px;"></span>
                             <span>{{calculatePrice(item)}} {{currency}}</span>
                        </span>
                        <span class="pull-left">
                            <i class="icon ion-trash-a energized" style="padding: 0px 14px 0px 0px; font-size: xx-large;   display:inline-block;" ng-show="data.showEdit" ng-click="removeItem(item)">
                            </i>
                        </span>
                
                    </ion-item>
                </ion-list>
                <div class="" style="border-bottom: 1px solid silver;">
                    <h5><span class="assertive" translate="SUBTOTAL"></span><span class="pull-right">{{calculateSubtotal()}} {{currency}}</span></h5>
                    <h5><span class="assertive" translate="DELIVERY_FEE"></span><span class="pull-right">{{cartShop.delivery_charge}} {{currency}}</span></h5>
                </div>
                <div class="" style="border-bottom: 1px solid silver;">
                    <h5><span class="balanced" translate="TOTAL"></span><span class="pull-right">{{calculateTotal()}} {{currency}}</span></h5>
                </div>

                <button class="button button-balanced button-small button-block" translate="CONFIRM_YOUR_ORDER" ng-click="confirmOrder()"></button>
                <button class="button button-positive button-small button-block" ui-sref="app.shop-details" translate="CONTINUE_SHOPPING"></button>
            </div>
        </div>
        <div ng-if="cartItems.length == 0">
            <div class="icon ion-ios-cart-outline stable" style="font-size: 150px; width: 100%; text-align: center;"></div>
            <h3 class="stable text-center" translate="YOUR_CART_IS_EMPTY"></h3>
            <button class="button icon-left ion-home button-balanced button-small button-block" ng-click="goBackHome()" translate="START_SHOPPING"></button>
        </div>
    </ion-content>
</ion-view>