<ion-modal-view ng-controller="CategoriesCtrl" dir="{{default_direction}}">
    <ion-header-bar class="bar-assertive">
        <h1 class="title title-right" translate="CATEGORIES" ng-show="isRTL()"></h1>
        <button class="button button-icon ion-close button-clear" ng-click="showMainScreen()"></button>
        <h1 class="title" translate="CATEGORIES"  ng-show="!isRTL()"></h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <div class="bar bar-subheader bar-energized static text-center">
            <h4 class="title"><span translate="SELECT_CATEGORY"></span></h4>
        </div>

        <div class="padding">
            <div class="list" ng-repeat="category in categories" style="display: inline-block; width: 33%;">
                <a class="item" ng-click="setCategory(category)" style="width: 100%; padding: 10px; text-align: center;" >
                    <img ng-src="{{category.photo}}" style="width: 90%; border-radius: 50%;"/>
                    <h3 style="height: 35px; text-decoration: none; white-space: normal; word-wrap: normal; font-family: GESSUniqueBold;">{{category.name}}</h3>
                </a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>