<ion-view view-title="{{'ORDER_CHECKOUT' | translate}}">
    
    <ion-content overflow-scroll="false" dir="{{default_direction}}">
        <div ng-class="{'text-right': isRTL()}">
            <div class="bar bar-subheader bar-energized static text-center">
                <h5 class="title">{{cartShop.name}}</h5>
            </div>
            <div>
                <div class="padding-left padding-right padding-bottom">
                    <h5 class="assertive">
                        <i class="icon ion-ios-cart-outline"></i>
                        {{'CART_DETAILS' | translate}}:
                    </h5>
                    <ion-list>
                        <ion-item ng-repeat="item in cartItems" style="height: 30px !important; font-size: 12px; padding: 0px !important;">
                            <span style="border-top: 6px solid transparent;" class="pull-{{default_float}}">{{item.name}}</span>
                            <span class="pull-{{opposite_float}}"><span id="{{item.id}}" class="quantity-badge">{{item.quantity}}</span><span translate="PRICE" style="margin: 0px 0px 0px 10px;"></span><span>{{calculatePrice(item)}} {{currency}}</span></span>
                        </ion-item>
                    </ion-list>
                    <div style="border-bottom: 1px solid silver; border-top: 1px solid silver;">
                        <h6><span translate="SUBTOTAL"></span><span class="pull-{{opposite_float}}">{{calculateSubtotal()}} {{currency}}</span></h6>
                        <h6><span translate="DELIVERY_FEE"></span><span class="pull-{{opposite_float}}">{{cartShop.delivery_charge}} {{currency}}</span></h6>
                    </div>
                    <div>
                        <h6><span class="balanced" translate="TOTAL"></span><span class="pull-{{opposite_float}}">{{calculateTotal()}} {{currency}}</span></h6>
                    </div>
                </div>
                <hr />
                <div class="padding-left padding-right padding-bottom">
                    <h5 class="assertive">
                        <i class="icon ion-ios-home-outline"></i>
                        {{'DELIVERY_ADDRESS' | translate}}:
                    </h5>
                    <strong>{{'ADDRESS_STREET' | translate}}: </strong>{{cartAddress.street}}<br />
                    <strong>{{'ADDRESS_BUILDING' | translate}}: </strong>{{cartAddress.building}},
                    <strong>{{'ADDRESS_FLOOR' | translate}}: </strong>{{cartAddress.floor}}<br />
                    <strong>{{'ADDRESS_DETAILS' | translate}}: </strong>{{cartAddress.details}}<br />
                    <strong>{{'ADDRESS_PHONE' | translate}}: </strong>{{cartAddress.phone}}<br />
                    <strong>{{'ADDRESS_EMAIL' | translate}}: </strong>{{cartAddress.email}}
                </div>
                <hr />
                <div class="padding-left padding-right padding-bottom">
                    <h5 class="assertive">
                        <i class="icon ion-ios-paper-outline"></i>
                        {{'NOTES' | translate}}:
                    </h5>
                    <textarea name="note" rows="3" class="stable-bg" style="border: 1px solid silver; color: black; width: 100%;" ng-model="cartNote.text" placeholder="Add any custom notes here"></textarea>
                </div>
                <hr />
                <div class="padding-left padding-right padding-bottom">
                    <h5 class="assertive">
                        <i class="icon ion-cash"></i>
                        {{'PAYMENT_METHOD' | translate}}:
                    </h5>
                    <button class="button button-small button-block button-assertive" translate="CASH"></button>
                </div>
                <hr />
                <div class="padding-left padding-right padding-bottom">
                    <button class="button button-balanced button-small button-block" ui-sref="app.order-confirmation" translate="CONFIRM_YOUR_ORDER"></button>
                    <button class="button button-positive button-small button-block" ui-sref="app.shop-details" translate="CONTINUE_SHOPPING"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>