<ion-view view-title="{{'OLD_ORDERS' | translate}}">
    <search-bar></search-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-refresh" ng-click="loadOldOrders()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" ng-class="!isUserLoggedin || oldOrders.length == 0 ? '' : 'stable-bg'" dir="{{default_direction}}">
        <div ng-show="!isUserLoggedin || oldOrders.length == 0" ng-class="{'text-right': isRTL()}">
            <div class="icon ion-ios-filing-outline stable" style="font-size: 130px; width: 100%; text-align: center;"></div>
            <h4 class="stable text-center" translate="NO_OLD_ORDERS"></h4>
        </div>

        <div class="list" ng-show="oldOrders.length > 0">
            <div class="item" style="padding: 0px;" ng-repeat="oldOrder in oldOrders">
                <div class="list card" style="margin: 5px;">
                    <img style="position: absolute; bottom: 0px; opacity: 0.4; height: 100%; max-height: 100px;" ng-class="isRTL() ? 'order-bg-img-rtl' : 'order-bg-img'" src="{{getShopPhoto(oldOrder.shop.id)}}" />
                    <div class="item item-body" style="padding: 5px; text-align: {{default_float}}">
                        <h3 style="border-bottom: 1px solid silver;"><span class="assertive-900">{{oldOrder.shop.name}}</span><span class="pull-{{opposite_float}} balanced">{{'TOTAL' | translate}}: {{oldOrder.total}} {{currency}}</span></h3>
                        <h4 style="color: black;"><strong>{{'ADDRESS_STREET' | translate}}: </strong>{{oldOrder.customer_address.street}}, <strong>{{'ADDRESS_BUILDING' | translate}}: </strong>{{oldOrder.customer_address.building}}, <strong>{{'ADDRESS_PHONE' | translate}}: </strong>{{oldOrder.customer_address.phone}}<br />
                        <span class="assertive-900">{{'DETAILS' | translate}}: </span><span ng-repeat="item in oldOrder.items">{{item.qty}} {{item.item.name}}, </span></h4>
                        <h4 style="color: black;" ng-switch="oldOrder.order_status"><span>{{'ORDER_STATUS' | translate}}: </span>
                            <span ng-switch-when="FINISHED" class="balanced">{{'ORDER_FINISHED' | translate}}</span>
                            <span ng-switch-when="PENDING" class="assertive">{{'ORDER_PENDING' | translate}}</span>
                            <span ng-switch-when="PREPARED" class="energized">{{'ORDER_PREPARED' | translate}}</span>
                        </h4>
                    </div>
                    <div>
                        <button class="button button-balanced button-small button-block" translate="ORDER_REPEAT" ng-click="repeatOrder(oldOrder)" ng-show="oldOrder.order_status == 'CLOSED'"></button>
                        <button class="button button-positive button-small button-block" translate="FOLLOW_ORDER" ng-click="" ng-show="oldOrder.order_status == 'PREPARED'"></button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>