<ion-view view-title="{{shopDetails.name}}">
    
    <ion-content overflow-scroll="false">
        <script id="shop-info-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar-assertive">
                    <div class="buttons buttons-left header-item">
                        <span class="left-buttons">
                            <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="closeShopInfo()"></button>
                        </span>
                    </div>
                    <div class="h1 title title-left light">{{shopDetails.name}}</div>
                    <div class="buttons buttons-right header-item">
                        <span class="right-buttons">
                            <button class="button button-fab">
                                <img src="{{shopDetails.photo}}" style="width: 100%; height: 100%;"/>
                            </button>
                        </span>
                    </div>
                </ion-header-bar>
                <ion-content overflow-scroll="false">
                    
                    <ion-list>
                        <ion-item>
                            <div style="text-align: center;">
                                <h2>{{shopDetails.address}}</h2>
                                <ul>
                                    <li class="assertive" style="display: inline-block; font-size: small;" ng-repeat="mastery in shopDetails.masteries">{{mastery}}<span ng-if="$index < shopDetails.masteries.length - 1" style="margin: 0px 3px;">|</span></li>
                                </ul>
                                <div style="text-align: center;">
                                    <i ng-class="shopDetails.rating >= 1 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                    <i ng-class="shopDetails.rating >= 2 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                    <i ng-class="shopDetails.rating >= 3 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                    <i ng-class="shopDetails.rating >= 4 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                    <i ng-class="shopDetails.rating >= 5 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                </div>
                            </div>
                        </ion-item>
                        <ion-item class="item-divider" style="text-align: center;" translate="OPENING_HOURS">
                        </ion-item>
                        <ion-item style="text-align: center;">
                            <ul  ng-repeat="dayHour in shopDetails.delivery_hours">
                                <li>{{dayHour.day}}: {{dayHour.open}}</li>
                            </ul>
                        </ion-item>
                        <ion-item class="item-divider" style="text-align: center;" translate="REVIEWS">
                        </ion-item>
                        <ion-item style="text-align: center;">
                            <div style="text-align: center;">
                                <i ng-class="shopDetails.rating >= 1 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                <i ng-class="shopDetails.rating >= 2 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                <i ng-class="shopDetails.rating >= 3 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                <i ng-class="shopDetails.rating >= 4 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                                <i ng-class="shopDetails.rating >= 5 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                            </div>
                            <a href="#">Read more reviews</a>
                        </ion-item>
                        <ion-item class="item-divider" style="text-align: center;" translate="LOCATION">
                        </ion-item>
                        <ion-item style="height: 300px; padding-left: 0px; padding-right: 0px;">
                            <div id="map" data-tap-disabled="true"></div>
                        </ion-item>
                    </ion-list>
                    
                </ion-content>
            </ion-modal-view>
        </script>
        <script id="item-details-modal.html" type="text/ng-template">
            <ion-modal-view class="ion-nifty-modal">
                <div class="ion-modal-content-custom">
                    <ion-content overflow-scroll="false">
                        <div class="list card light-bg">
                            <div class="item item-thumbnail-left" style="margin-top: 10px;">
                                <img src="{{selectedItem.photo}}">
                                <h2 class="assertive">{{selectedItem.name}}</h2>
                                <h4><span translate="PRICE"></span><span> {{selectedItem.price}} {{currency}}</span></h4>
                                <p style="padding: 10px 0px; border-top: 1px solid silver;">
                                    <div style="text-align: center;" translate="QUANTITY"></div>
                                    <div style="text-align: center;"><i class="icon ion-minus-circled energized" style="font-size: xx-large; display:inline-block; vertical-align: middle;" ng-click="decreseQuantityFromModal(selectedItem.id)"></i><span style="padding: 0px 20px;" id="selectedItemId">{{checkItemCount(selectedItem.id)}}</span><i class="icon ion-plus-circled energized" style="font-size: xx-large; display:inline-block; vertical-align: middle;" ng-click="increaseQuantityFromModal(selectedItem.id)"></i></div>
                                </p>
                            </div>
                            <div class="item item-body" style="max-height: 100px; overflow-y: auto;">
                                {{selectedItem.description}}
                            </div>
                            <div class="item tabs tabs-secondary tabs-icon-left">
                                <a class="tab-item assertive" data-ink-opacity="0.5" ng-click="closeItemDetails()">
                                    <i class="icon ion-reply"></i><i translate="RETURN_TO_MENU"></i>
                                </a>
                                <a class="tab-item assertive" data-ink-opacity="0.5" ng-click="addToCart(selectedItem, shopDetails); closeItemDetails()">
                                    <i class="icon ion-android-cart"></i><i translate="ADD_TO_CART"></i>
                                </a>
                            </div>
                        </div>
                    </ion-content>
                </div>
            </ion-modal-view>
        </script>
        <div style="border-bottom: 1px solid silver; padding-bottom: 10px;" ng-click="showShopInfo()">
            <div class="promotion-triangle" ng-show="{{shopDetails.promotion_note}}"><span style="position: absolute; top: 5px; right: 1px; display: block; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); font-size: xx-small;" translate="PROMO"></span></div>
            <div class="is-open-triangle" ng-show="{{shopDetails.is_open}}"></div>
            <div class="is-close-triangle" ng-hide="{{shopDetails.is_open}}"></div>
            <div style="overflow: auto;">
                <div style="width: 25%; float: left; margin-top: 10px;">
                    <div style="padding: 5px; text-align: center;"><img class="button button-fab" src="{{shopDetails.photo}}" style="width: 70%; height: 70%;" /></div>
                    <div style="text-align: center;">
                        <i ng-class="shopDetails.rating >= 1 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                        <i ng-class="shopDetails.rating >= 2 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                        <i ng-class="shopDetails.rating >= 3 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                        <i ng-class="shopDetails.rating >= 4 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                        <i ng-class="shopDetails.rating >= 5 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                    </div>
                    <img src="img/subscribed.png" style="opacity: 0.6; width: 80%; margin-left: 10%;" ng-show="shopDetails.subscribed" />
                </div>
                <div style="float: left; padding: 5px 10px; width: 75%;">
                    <div>
                        <h5 style="margin-bottom: 0px;">{{shopDetails.name}}</h5>
                        <ul>
                            <li class="assertive" style="display: inline-block; font-size: small;" ng-repeat="mastery in shopDetails.masteries">{{mastery}}<span ng-if="$index < shopDetails.masteries.length - 1" style="margin: 0px 3px;">|</span></li>
                        </ul>
                    </div>
                    <div>
                        <div style="float: left; width: 50%;"><h6 style="margin: 0px; font-weight:200;" translate="MIN_DELIVERY_AMOUNT"></h6><h6 style="margin: 0px;">{{shopDetails.min_amount}} {{currency}}</h6></div>
                        <div style="float: left; width: 50%;"><h6 style="margin: 0px; font-weight:200;" translate="DELIVERY_TIME"></h6><h6 style="margin: 0px;">{{shopDetails.delivery_expected_time}} {{'MINUTE_SHORT' | translate}}</h6></div>
                    </div>
                    <div style="margin-top: 40px;">
                        <div style="float: left; width: 50%;"><h6 style="margin: 0px; font-weight:200;" translate="DELIVERY_FEE"></h6><h6 style="margin: 0px;">{{shopDetails.delivery_charge}} {{currency}}</h6></div>
                        <div style="float: left; width: 50%;"><h6 style="margin: 0px; font-weight:200;" translate="DELIVERY_HOURS"></h6><h6 style="margin: 0px;">{{getCurrentDeliverHour()}}</h6></div>
                    </div>
                </div>
            </div>
        </div>

        <!--Promotions & Warnings area-->
        <ion-list>
            <ion-item class="item-icon-right" style="float: left; border-bottom: 2px solid silver; width: 50%; height: 35px; padding-top: 7px; border-right: 1px solid silver;" ng-click="toggleNotifications('promotions')">
                <span class="ion-pricetags" ng-class="shopDetails.promotion_note != '' ? 'energized' : 'stable'"> {{'PROMOTIONS' | translate}}</span>
                <i class="icon dl-menu-item-icon" ng-if="shopDetails.promotion_note != ''" ng-class="isNotificationShown('promotions') && shopDetails.promotion_note != '' ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
            </ion-item>
            <ion-item class="item-icon-right" style="float: left; border-bottom: 2px solid silver; width: 50%; height: 35px; padding-top: 7px;" ng-click="toggleNotifications('warnings')">
                <span class="ion-alert" ng-class="shopDetails.warning_note != '' ? 'assertive' : 'stable'"> {{'WARNINGS' | translate}}</span>
                <i class="icon dl-menu-item-icon" ng-if="shopDetails.warning_note != ''" ng-class="isNotificationShown('warnings') && shopDetails.warning_note != '' ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-if="isNotificationShown('promotions') == true && shopDetails.promotion_note != ''" style="border-bottom: 1px solid silver; padding: 5px;">
                {{shopDetails.promotion_note}}
            </ion-item>
            <ion-item class="item-accordion" ng-if="isNotificationShown('warnings') == true && shopDetails.warning_note != ''" style="border-bottom: 1px solid silver; padding: 5px;">
                {{shopDetails.warning_note}}
            </ion-item>
        </ion-list>

        <!--Items Categories List-->
        <ion-list>
            <div ng-repeat="category in categories">
                <ion-item class="item-icon-left" style="border-bottom: 2px solid silver; height: 35px; padding-top: 7px;" ng-click="toggleCategory(category)" ng-class="isCategoryShown(category) ? 'item-assertive' : 'item-stable'">
                    <i class="icon dl-menu-item-icon" ng-class="isCategoryShown(category) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
                    <span>{{category.name}}</span>
                    <span class="badge" ng-class="isCategoryShown(category) ? 'badge-stable' : 'badge-assertive'">{{category.items.length}}</span>
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="item in category.items" ng-show="isCategoryShown(category)" style="border-bottom: 1px solid silver; padding: 5px;">
                    <div style="width: 15%; float: left; padding-top: 10px;" ng-click="showItemDetails(item)">
                        <img class="button button-fab" src="{{item.photo}}" style="width: 100%; height: 100%;" />
                    </div>
                    <div style="width: 55%; float: left; padding: 5px 10px;" ng-click="showItemDetails(item)">
                        <h2 class="assertive">{{item.name}}</h2>
                        <h4 style="white-space: normal;">{{item.description}}</h4>
                        <h5><span translate="PRICE"></span><span> {{item.price}} {{currency}}</span></h5>
                    </div>
                    <div style="width: 30%; float: left; padding: 5px 10px;">
                        <div style="text-align: center;"><i class="icon ion-minus-circled energized" style="font-size: xx-large; display:inline-block; vertical-align: middle;" ng-click="decreseQuantity(item.id)"></i><span style="padding: 0px 10px;" id="{{item.id}}" ng-model="item.id">{{checkItemCount(item.id)}}</span><i class="icon ion-plus-circled energized" style="font-size: xx-large; display:inline-block; vertical-align: middle;" ng-click="increaseQuantity(item.id)"></i></div>
                        <div><button class="button button-positive button-small" style="width: 100%; font-size: xx-small; padding: 0px;" translate="ADD_TO_CART" ng-click="addToCart(item, shopDetails);"></button></div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
  

</ion-view>