<ion-view view-title="{{selectedArea.name}}">
    <search-bar></search-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-location" ng-click="changeAddress()"></button>
        <button class="button button-icon button-clear ion-search" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" class="has-footer">
        <!--'Sort By' modal template-->
        <script id="sort-modal.html" type="text/ng-template">
            <ion-modal-view class="dl-sort-action-sheet">
                <div class="bar bar-header bar-assertive" style="position: static;">
                    <div class="buttons buttons-left header-item">
                        <span class="left-buttons">
                            <button class="button button-icon button-clear ion-close" ng-click="closeSort()"></button>
                        </span>
                    </div>
                    <div class="h1 title" translate="SORT_BY"></div>
                </div>

                <ion-content overflow-scroll="false" class="has-header dl-sort-action-sheet-content">
                    <div class="list">
                        <div class="item item-icon-right" style="border-bottom: 1px solid silver;" ng-click="sortByAlphabet()">
                            <i class="icon ion-social-angular-outline stable"></i><span translate="ALPHABETICAL"></span>
                        </div>
                        <div class="item item-icon-right" style="border-bottom: 1px solid silver;" ng-click="sortByReview()">
                            <i class="icon ion-ios-star-half stable"></i><span translate="REVIEWS"></span>
                        </div>
                    </div>
                </ion-content>

            </ion-modal-view>
        </script>

        <!--'Filter By' modal template-->
        <script id="filter-modal.html" type="text/ng-template">
            <ion-modal-view class="dl-sort-action-sheet">
                <div class="bar bar-header bar-assertive" style="position: static;">
                    <div class="buttons buttons-left header-item">
                        <span class="left-buttons">
                            <button class="button button-icon button-clear ion-ios-close-outline" ng-click="clearMasteryFilter()"></button>
                        </span>
                    </div>
                    <div class="h1 title" translate="FILTER_BY_MASTERY"></div>
                    <div class="buttons buttons-right header-item">
                        <span class="right-buttons">
                            <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="closeFilter()"></button>
                        </span>
                    </div>
                </div>

                <ion-content class="has-header dl-sort-action-sheet-content" overflow-scroll="false">
                    <div class="list">
                        <div class="item item-checkbox" style="border-bottom: 1px solid silver; padding-left: 16px;" ng-repeat="mastery in masteriesCheckList">
                            <span>{{mastery.name}}</span>
                            <label class="checkbox">
                                <input type="checkbox" class="pull-right" ng-model="mastery.checked" ng-checked="mastery.checked">
                            </label>
                        </div>
                    </div>
                </ion-content>

            </ion-modal-view>
        </script>

        <!--'Advance Filter' modal template-->
        <script id="advance-filter-modal.html" type="text/ng-template">
            <ion-modal-view class="dl-sort-action-sheet">
                <div class="bar bar-header bar-assertive" style="position: static;">
                    <div class="buttons buttons-left header-item">
                        <span class="left-buttons">
                            <button class="button button-icon button-clear ion-ios-close-outline" ng-click="clearAdvanceFilter()"></button>
                        </span>
                    </div>
                    <div class="h1 title" translate="ADVANCE_FILTER"></div>
                    <div class="buttons buttons-right header-item">
                        <span class="right-buttons">
                            <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="closeAdvanceFilter()"></button>
                        </span>
                    </div>
                </div>

                <ion-content class="has-header dl-sort-action-sheet-content" overflow-scroll="false">
                        <ion-list>
                            <div class="item" style="border-bottom: 1px solid silver; padding-left: 16px;">
                                <div ng-switch="advanceFilter.minDeliveryValue"><span translate="MIN_DELIVERY_AMOUNT"></span><span ng-switch-when="10000">: {{'ALL' | translate}}</span><span ng-switch-default>: {{advanceFilter.minDeliveryValue}} {{currency}}</span></div>
                                <div class="range range-positive">
                                    <i>500 {{currency}}</i>
                                    <input type="range" name="deliveryAmount" ng-model="advanceFilter.minDeliveryValue" min="500" max="10000" step="500">
                                    <i>{{'ALL' | translate}}</i>
                                </div>
                            </div>
                            <div class="item" style="border-bottom: 1px solid silver; padding-left: 16px;">
                                <div ng-switch="advanceFilter.deliveryTime"><span translate="DELIVERY_TIME"></span><span ng-switch-when="120">: {{'ALL' | translate}}</span><span ng-switch-default>: {{advanceFilter.deliveryTime}} {{'MINUTE_SHORT' | translate}}</span></div>
                                <div class="range range-positive">
                                    <i>15 min</i>
                                    <input type="range" name="deliveryTime" ng-model="advanceFilter.deliveryTime" min="15" max="120" step="15">
                                    <i>{{'ALL' | translate}}</i>
                                </div>
                            </div>
                            <div class="item" style="border-bottom: 1px solid silver; padding-left: 16px;">
                                <span>{{'RATING' | translate}}</span>
                                <div class="button-bar bar-assertive">
                                    <a class="button button-raised ink-dark" ng-click="advanceFilter.rating = 1" ng-class="advanceFilter.rating == 1 ? 'button-energized' : ''">1</a>
                                    <a class="button button-raised ink-dark" ng-click="advanceFilter.rating = 2" ng-class="advanceFilter.rating == 2 ? 'button-energized' : ''">2</a>
                                    <a class="button button-raised ink-dark" ng-click="advanceFilter.rating = 3" ng-class="advanceFilter.rating == 3 ? 'button-energized' : ''">3</a>
                                    <a class="button button-raised ink-dark" ng-click="advanceFilter.rating = 4" ng-class="advanceFilter.rating == 4 ? 'button-energized' : ''">4</a>
                                    <a class="button button-raised ink-dark" ng-click="advanceFilter.rating = 5" ng-class="advanceFilter.rating == 5 ? 'button-energized' : ''">5</a>
                                </div>
                            </div>


                                <div class="item" style="border-bottom: 1px solid silver; padding-left: 16px;">
                                    <span>{{'SHOW_CLOSED_RESTURANTS' | translate}}</span>
                                    <label class="toggle toggle-assertive pull-right">
                                        <input type="checkbox" ng-model="advanceFilter.showClosed">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="item" style="border-bottom: 1px solid silver; padding-left: 16px;">
                                    <span>{{'RESTURANTS_WITH_PROMOTIONS' | translate}}</span>
                                    <label class="toggle toggle-assertive pull-right">
                                        <input type="checkbox" ng-model="advanceFilter.promotionOnly">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                            </ion-list>
                </ion-content>

            </ion-modal-view>
        </script>
        <ion-slide-box class="" auto-play="true" does-continue="true" slide-interval="2000" >
           <ion-slide class="dl-promotion-slider" ng-repeat="shopOffer in shopsOffers">
                <img ng-src="{{shopOffer.photo}}" ng-click="showItemDetails(shopOffer.item,shopOffer.shop,shopOffer.clickable)"/>
           </ion-slide>
        </ion-slide-box>
        <div class="list" ng-show="done_loading == true">
            <a class="item item-icon-right" style="border-bottom: 1px solid silver; padding: 1px;" ng-repeat="shop in shops | filter: filterFunction | orderBy: orderCriteria: descending" href="#/app/shop-details/{{shop.id}}">
                <div class="promotion-triangle" ng-show="{{shop.promotion_note}}"><span style="position: absolute; top: 5px; right: 1px; display: block; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); font-size: xx-small;" translate="PROMO"></span></div>
                <div class="is-open-triangle" ng-show="{{shop.is_open}}"></div>
                <div class="is-close-triangle" ng-hide="{{shop.is_open}}"></div>
                <div style="overflow: auto;">
                    <div style="width: 25%; float: left;">
                        <div style="padding: 5px; text-align: center;"><img class="button button-fab" src="{{shop.photo}}" style="width: 60%; height: 60%;" /></div>
                        <div style="text-align: center;">
                            <i ng-class="shop.rating >= 1 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                            <i ng-class="shop.rating >= 2 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                            <i ng-class="shop.rating >= 3 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                            <i ng-class="shop.rating >= 4 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                            <i ng-class="shop.rating >= 5 ? 'ion-ios-star energized' : 'ion-ios-star-outline energized'"></i>
                        </div>
                        <img src="img/subscribed.png" style="position: absolute; bottom: 0px; left: 10%; opacity: 0.6; height: 70%; z-index: 9999;" ng-show="shop.subscribed"/>
                    </div>
                    <div style="float: left; padding: 5px 10px; width: 75%;">
                        <div>
                            <h2>{{shop.name}}</h2>
                            <ul>
                                <li class="assertive" style="display: inline-block; font-size: small;" ng-repeat="mastery in shop.masteries">{{mastery}}<span ng-if="$index < shop.masteries.length - 1" style="margin: 0px 3px;">|</span></li>
                            </ul>
                        </div>
                        <div style="float: left; width: 50%;"><h5 translate="MIN_DELIVERY_AMOUNT"></h5><h5>{{shop.min_amount}} {{currency}}</h5></div>
                        <div style="float: left; width: 50%;"><h5 translate="DELIVERY_TIME"></h5><h5>{{shop.delivery_expected_time}} {{'MINUTE_SHORT' | translate}}</h5></div>
                    </div>
                </div>
                <i class="icon ion-chevron-right stable dl-menu-item-icon"></i>
                
            </a>
        </div>

        <div ng-show="noShopsFound" class="padding">
            <div class="icon ion-sad-outline stable" style="font-size: 100px; width: 100%; text-align: center;"></div>
            <h4 class="stable text-center" translate="NO_SHOPS_IN_SELECTED_AREA"></h4>
            <button class="button icon-left ion-location button-balanced button-block" ng-click="changeAddress()" translate="PICK_A_NEW_ADDRESS"></button>
        </div>
    </ion-content>
    <div class="bar bar-footer" ng-show="!noShopsFound">
        <div class="tabs tabs-icon-left">
            <a class="tab-item" ng-click="showSort()">
                <i class="icon ion-funnel" style="font-size: x-large;"></i><span translate="SORT_BY"></span>
            </a>
            <a class="tab-item" ng-click="showFilter()">
                <i class="icon ion-ios-color-filter" style="font-size: x-large;"></i><span translate="FILTER_BY_MASTERY"></span>
            </a>
            <a class="tab-item" ng-click="showAdvanceFilter()">
                <i class="icon ion-ios-settings-strong" style="font-size: x-large;"></i><span translate="ADVANCE_FILTER"></span>
            </a>
        </div>
    </div>

    <script id="item-details-modal.html" type="text/ng-template">
        <ion-modal-view class="ion-nifty-modal">
            <div class="ion-modal-content-custom">
                <ion-content overflow-scroll="false">
                    <div class="list card light-bg">
                        <div class="item item-thumbnail-left" style="margin-top: 10px;">
                            <img src="{{selectedItem.photo}}">
                            <h2 class="assertive">{{selectedItem.name}}</h2>
                            <h4><span translate="PRICE"></span><span> {{selectedItem.price}} {{currency}}</span></h4>
                            <p style="padding: 10px 0px; border-top: 1px solid silver;">
                                <div style="text-align: center;" translate="QUANTITY"></div>
                                <div style="text-align: center;"><i class="icon ion-minus-circled energized" style="font-size: xx-large; display:inline-block; vertical-align: middle;" ng-click="decreseQuantityFromModal(selectedItem.id)"></i><span style="padding: 0px 20px;" id="selectedItemId">{{checkItemCount(selectedItem.id)}}</span><i class="icon ion-plus-circled energized" style="font-size: xx-large; display:inline-block; vertical-align: middle;" ng-click="increaseQuantityFromModal(selectedItem.id)"></i></div>
                            </p>
                        </div>
                        <div class="item item-body" style="max-height: 100px; overflow-y: auto;">
                            {{selectedItem.description}}
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item assertive" data-ink-opacity="0.5" ng-click="closeItemDetails()">
                                <i class="icon ion-reply"></i><i translate="RETURN_TO_MENU"></i>
                            </a>
                            <a class="tab-item assertive" data-ink-opacity="0.5" ng-click="addToCart(selectedItem, shopDetails); closeItemDetails()">
                                <i class="icon ion-android-cart"></i><i translate="ADD_TO_CART"></i>
                            </a>
                        </div>
                    </div>
                </ion-content>
            </div>
        </ion-modal-view>
    </script>

</ion-view>