<ion-view view-title="{{'SILVER_OFFERS' | translate}}">
    <search-bar></search-bar>
    <ion-nav-buttons side="right">
        <!-- <button class="button button-icon button-clear ion-search"></button> -->
        <button class="button button-icon button-clear ion-refresh" ng-click="loadShopsOffers()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" ng-class="shopsOffers.length == 0 ? '' : 'stable-bg'" dir="{{default_direction}}">
        
        <script id="item-details-modal.html" type="text/ng-template">
            <ion-modal-view class="ion-nifty-modal" dir="{{default_direction}}">
                <div class="ion-modal-content-custom">
                    <ion-content overflow-scroll="false">
                        <div class="list card light-bg">
                            <div class="item" ng-class="isRTL() ? 'item-thumbnail-right' : 'item-thumbnail-left'" style="margin-top: 10px;">
                                <img src="{{selectedItem.photo}}" style="border-radius: 50%;">
                                <h2 class="assertive" ng-class="{'text-right': isRTL()}">{{selectedItem.name}}</h2>
                                <h4 ng-class="{'text-right': isRTL()}"><span translate="PRICE"></span><span> {{selectedItem.price}} {{currency}}</span></h4>
                                <p style="padding: 10px 0px; border-top: 1px solid silver;">
                                    <div style="text-align: center;" translate="QUANTITY"></div>
                                    <div style="text-align: center;"><i class="icon ion-minus-circled energized" style="font-size: xx-large; display:inline-block; vertical-align: middle;" ng-click="decreseQuantityFromModal(selectedItem.id, selectedItem, shopDetails)"></i><span style="padding: 0px 20px;" id="selectedItemId">{{checkItemCount(selectedItem.id)}}</span><i class="icon ion-plus-circled energized" style="font-size: xx-large; display:inline-block; vertical-align: middle;" ng-click="increaseQuantityFromModal(selectedItem.id, selectedItem, shopDetails)"></i></div>
                                </p>
                            </div>
                            <div class="item item-body" ng-class="{'text-right': isRTL()}" style="max-height: 100px; overflow-y: auto;">
                                {{selectedItem.description}}
                            </div>
                            <div class="item tabs tabs-secondary tabs-icon-{{default_float}}">
                                <a class="tab-item assertive" data-ink-opacity="0.5" ng-click="closeItemDetails()">
                                    <i class="icon ion-reply"></i><i translate="RETURN_TO_MENU"></i>
                                </a>
                                <a class="tab-item assertive" data-ink-opacity="0.5" ng-click="shareOffer(selectedOffer)">
                                    <i class="icon ion-android-share-alt"></i><i translate="SHARE_TXT"></i>
                                </a>
                            </div>
                        </div>
                    </ion-content>
                </div>
            </ion-modal-view>
        </script>

        <script id="item-photo-modal.html" type="text/ng-template">
            <ion-modal-view class="ion-nifty-modal" dir="{{default_direction}}">
                <div class="ion-modal-content-custom">
                    <ion-content overflow-scroll="false">
                        <button style="border: 1px solid black; border-radius: 50%; background-color: white;" ng-click="closeItemPhoto()">X</button>
                        <img src="{{selectedPhotoSrc}}" style="width: 100%;"/>
                    </ion-content>
                </div>
            </ion-modal-view>
        </script>
        <ion-slide-box dir="ltr" class="" auto-play="true" does-continue="true" slide-interval="3000">
            <ion-slide class="dl-promotion-slider" ng-repeat="shopOffer in goldenOffers">
                <img ng-src="{{shopOffer.photo}}" ng-click="showItemDetails(shopOffer)" />
            </ion-slide>
        </ion-slide-box>
        <div ng-show="shopsOffers.length == 0">
            <div class="icon ion-ios-filing-outline stable" style="font-size: 130px; width: 100%; text-align: center;"></div>
            <h4 class="stable text-center" translate="NO_SILVER_OFFERS"></h4>
        </div>

        <div class="list" ng-show="shopsOffers.length > 0">
            <div class="item" style="padding: 0px;" ng-repeat="shopOffer in shopsOffers">
                <div class="list card" style="margin: 5px;">
                    <img style="position: absolute; top: 0px; opacity: 0.1; height: 100%;" ng-class="isRTL() ? 'order-bg-img-rtl' : 'order-bg-img'" src="{{shopOffer.shop.photo}}" />
                    <div ng-class="isRTL() ? 'silver-promotion-triangle-rtl' : 'silver-promotion-triangle'"><span ng-class="isRTL() ? 'promotion-triangle-lable-rtl' : 'promotion-triangle-lable'" translate="PROMO"></span></div>
                    <div class="item item-thumbnail-{{default_float}}" ng-class="{'text-right': isRTL()}">
                        <img src="{{shopOffer.photo}}" ng-click="showItemPhoto(shopOffer.photo);" style="border-radius: 50%;"/>
                        <h2 class="assertive-900" ng-click="showItemDetails(shopOffer)">{{shopOffer.shop.name}}</h2>
                        <p ng-click="showItemDetails(shopOffer)">{{shopOffer.name}}</p>
                        <p style="font-size: 12px; color: black; white-space: normal;" ng-click="showItemDetails(shopOffer)"><strong>{{'OFFER_DETAILS' | translate}}: </strong>{{shopOffer.short_description}}</p>
                        
                    </div>
                    <button class="button-clear" style="float: {{opposite_float}}; margin: 2px;" ng-click="shareOffer(shopOffer)"><i class="ion-android-share-alt assertive-900" style="font-size:22px;"></i></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>