/* Empty. Add your own CSS if you like */

/* Delivery App specific CSS*/
body {
    font-size: 0.8em;
}
.dl-category {
    text-align: center;
    text-decoration: none;
}

.dl-text-left {
    text-align: left;
}

.dl-promotion-slider img {
     width: 100%;
}

.dl-location-bar img {
    width: 100%;
}

.dl-seperator-with-legend {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.dl-seperator-legend {
    background-color: white;
    padding: 0px 5px;
}

.dl-menu-item {
}

i.dl-menu-item-icon.ion-chevron-right {
  font-size: 15px;
}