    <ion-modal-view ng-controller="AddressesCtrl">
        <ion-header-bar class="bar-assertive">
            <button class="button button-icon button-clear" ng-click="close()"><span class="icon ion-ios-arrow-left"></span></button>
            <div class="title" translate="ADDRESSES"></div>
            <div class="buttons">
                <button class="button button-icon button-clear" translate="ADD_NEW_ADDRESSES" ng-click="showCreateAddressModal()"></button>
            </div>
        </ion-header-bar>
        <ion-content overflow-scroll="false">

            <!--'Edit Address' modal template-->
            <script id="editAddress-modal.html" type="text/ng-template">
                <ion-modal-view class="dl-sort-action-sheet">
                    <div class="bar bar-header bar-assertive" style="position: static;">
                        <div class="buttons buttons-left header-item">
                            <span class="left-buttons">
                                <button class="button button-icon button-clear ion-ios-close-outline" ng-click="closeEditAddressModal()"></button>
                            </span>
                        </div>
                        <div class="h1 title" translate="EDIT"></div>
                        <div class="buttons buttons-right header-item">
                            <span class="right-buttons">
                                <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="updateAddress()"></button>
                            </span>
                        </div>
                    </div>

                    <ion-content overflow-scroll="false" class="has-header dl-sort-action-sheet-content">
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_PHONE"></span>
                                <input type="text" placeholder="+963 33 2415081 | +963 993 130 478" ng-model="customerAddress.phone">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_EMAIL"></span>
                                <input type="text" placeholder="youremail@email.com" ng-model="customerAddress.email">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_STREET"></span>
                                <input type="text" placeholder="Zee Kar" ng-model="customerAddress.street">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_BUILDING"></span>
                                <input type="text" placeholder="Gabban Building" ng-model="customerAddress.building">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_FLOOR"></span>
                                <input type="text" placeholder="2" ng-model="customerAddress.floor">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_DETAILS"></span>
                                <input type="text" placeholder="" ng-model="customerAddress.details">
                            </label>
                            <button class="button button-full button-balanced" ng-click="updateAddress()">
                                <span  translate="ADDRESS_SAVE"></span>
                            </button>
                        </div>
                    </ion-content>

                </ion-modal-view>
            </script>

            <!--'Create Address' modal template-->
            <script id="createAddress-modal.html" type="text/ng-template">
                <ion-modal-view class="dl-sort-action-sheet">
                    <div class="bar bar-header bar-assertive" style="position: static;">
                        <div class="buttons buttons-left header-item">
                            <span class="left-buttons">
                                <button class="button button-icon button-clear ion-ios-close-outline" ng-click="closeCreateAddressModal()"></button>
                            </span>
                        </div>
                        <div class="h1 title" translate="NEW"></div>
                        <div class="buttons buttons-right header-item">
                            <span class="right-buttons">
                                <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="createAddress()"></button>
                            </span>
                        </div>
                    </div>

                    <ion-content overflow-scroll="false" class="has-header dl-sort-action-sheet-content">
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_PHONE"></span>
                                <input type="text" placeholder="+963 33 2415081 | +963 993 130 478" ng-model="customerAddress.phone">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_EMAIL"></span>
                                <input type="text" placeholder="youremail@email.com" ng-model="customerAddress.email">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_STREET"></span>
                                <input type="text" placeholder="Zee Kar" ng-model="customerAddress.street">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_BUILDING"></span>
                                <input type="text" placeholder="Gabban Building" ng-model="customerAddress.building">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_FLOOR"></span>
                                <input type="text" placeholder="2" ng-model="customerAddress.floor">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_DETAILS"></span>
                                <input type="text" placeholder="" ng-model="customerAddress.details">
                            </label>
                            <button class="button button-full button-balanced" ng-click="createAddress()">
                                <span translate="ADDRESS_SAVE"></span>
                            </button>
                        </div>
                    </ion-content>

                </ion-modal-view>
            </script>
            <div class="bar bar-header bar-energized" style="position: static;">
                <div class="h2 title">{{selectedCity.name}} - {{selectedArea.name}}</div>
            </div>
            <div class="list">
                <div class="item  padding" style="border-bottom: 1px solid silver; padding: 1px;" ng-repeat="customerAddress in customerAddressess" href="#">
                    <h4><strong>Street: </strong> {{customerAddress.street}}</h4>
                    <h4><strong>Building</strong>, {{customerAddress.building}}</h4>
                    <h4><strong>floor</strong>, {{customerAddress.floor}}</h4>
                    <h4><strong>Details</strong>, {{customerAddress.details}}</h4>
                    <h4><strong>Mobile</strong>+963 993 130 478,<strong>Email:</strong> person@gmail.com</h4>
                    <div>
                        <button class="button button-small button-energized padding-horizontal" style="float: right;margin-left:5px" translate="EDIT" ng-click="showEditAddressModal(customerAddress)"> </button>
                        <button class="button button-small button-assertive padding-horizontal" style="float: right;margin-right:5px" translate="DELETE" ng-click="deleteAddressPopup(customerAddress.id)"> </button>
                        <button class="button button-small button-positive padding-horizontal" style="float: right;margin-right:5px" ng-click=""> Map </button>
                    </div>
                </div>
            </div>
</ion-content>
</ion-modal-view>
