    <ion-modal-view ng-controller="AddressesCtrl">
        <ion-header-bar class="bar-assertive">
            <button class="button button-icon button-clear" ng-click="close()"><span class="icon ion-ios-arrow-left"></span></button>
            <div class="title" translate="ADDRESSES"></div>
        </ion-header-bar>
        <ion-content overflow-scroll="false">

            <!--'Edit/Add Address' modal template-->
            <script id="editAddress-modal.html" type="text/ng-template">
                <ion-modal-view class="dl-sort-action-sheet">
                    <div class="bar bar-header bar-assertive" style="position: static;">
                        <div class="buttons buttons-left header-item">
                            <span class="left-buttons">
                                <button class="button button-icon button-clear ion-ios-close-outline" ng-click="closeAddressModal()"></button>
                            </span>
                        </div>
                        <div class="h1 title" translate="EDIT"></div>
                        <div class="buttons buttons-right header-item">
                            <span class="right-buttons">
                                <button class="button button-icon button-clear ion-ios-checkmark-outline" ng-click="closeAddressModal()"></button>
                            </span>
                        </div>
                    </div>

                    <ion-content overflow-scroll="false" class="has-header dl-sort-action-sheet-content">
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_PHONE"></span>
                                <input type="text" placeholder="+963 33 2415081 | +963 993 130 478" ng-model="addressPhone">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_EMAIL"></span>
                                <input type="text" placeholder="youremail@email.com" ng-model="addressEmail">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_STREET"></span>
                                <input type="text" placeholder="Zee Kar" ng-model="addressStreet">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_BUILDING"></span>
                                <input type="text" placeholder="Gabban Building" ng-model="addressBuilding">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_FLOOR"></span>
                                <input type="text" placeholder="2" ng-model="addressFloor">
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label" translate="ADDRESS_DETAILS"></span>
                                <input type="text" placeholder="" ng-model="addressDetails">
                            </label>
                            <button class="button button-full button-balanced">
                                <span  translate="ADDRESS_SAVE"></span>
                            </button>
                        </div>
                    </ion-content>

                </ion-modal-view>
            </script>
            <div class="bar bar-header bar-energized" style="position: static;">
                <div class="h2 title" style="float: left;left:-150px;"><strong>{{selectedCity.name}}</strong> - {{selectedArea.name}}</div>
                <button class="button button-balanced button-small" style="max-width:150px; width:95px;min-height:35px;" translate="ADD_NEW_ADDRESSES" ng-click="showAddressModal()"></button>
            </div>
            <div class="list">
                <div class="item  padding" style="border-bottom: 1px solid silver; padding: 1px;" href="#">
                    <h2><strong>Work</strong> </h2>
                    <h3><strong>Yaser El Sabbouh</strong>, yaser.alsabbouh@gmail.com</h3>
                    <h3>Sahet Al Asi</h3>
                    <h3> 00963993130478</h3>
                    <div>
                        <button class="button button-small button-energized padding-horizontal" style="float: right;margin-left:5px" translate="EDIT" ng-click="showAddressModal()"> </button>
                        <button class="button button-small button-assertive padding-horizontal" style="float: right;margin-right:5px" translate="DELETE" ng-click="showAddressModal()"> </button>
                    </div>
                </div>
                <div class="item padding" style="border-bottom: 1px solid silver; padding: 1px;" href="#">
                    <h2><strong>Work</strong> </h2>
                    <h3><strong>Yaser El Sabbouh</strong>, yaser.alsabbouh@gmail.com</h3>
                    <h3>Sahet Al Asi</h3>
                    <h3> 00963993130478</h3>
                    <div>
                        <button class="button button-small button-energized padding-horizontal" style="float: right;margin-left:5px" translate="EDIT" ng-click="showAddressModal()"> </button>
                        <button class="button button-small button-assertive padding-horizontal" style="float: right;margin-right:5px" translate="DELETE" ng-click="showAddressModal()"> </button>
                    </div>
                </div>
            </div>
</ion-content>
    </ion-modal-view>
