<ion-modal-view ng-controller="LoginCtrl" dir="{{default_direction}}">
    <ion-header-bar class="bar-assertive">
        <h1 class="title title-right" translate="LOGIN" ng-show="isRTL()"></h1>
        <button class="button button-icon button-clear" ng-click="prevStep()"><span class="icon" ng-class="isRTL() ? 'ion-chevron-right' : 'ion-chevron-left'"></span></button>
        <h1 class="title" translate="LOGIN" ng-show="!isRTL()"></h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <div class="text-center padding-top" style="height: 25%; min-height: 100px; background-image: url('img/modal-bg.jpg'); background-repeat: repeat-x; background-size: contain; background-position: center;">
            <img src="img/delivery_logo_{{versionCountry}}.png" style="vertical-align: middle; width: 40%;">
        </div>
        <div class="padding-left padding-right" style="height: 75%" ng-class="{'text-right': isRTL()}">
            <div style="height: 70%; min-height: 200px;">
                <form>
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label assertive-900" style="text-align: {{default_float}};"><i class="icon ion-android-person"></i> {{'USERNAME' | translate}}</span>
                            <input name="Username" type="text" style="padding-right: 0px;" ng-model="loginData.username" placeholder="{{'USERNAME' | translate}}" required>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label assertive-900" style="text-align: {{default_float}};"><i class="icon ion-locked"></i> {{'PASSWORD' | translate}}</span>
                            <input name="Password" type="password" style="padding-right: 0px;" ng-model="loginData.password" placeholder="{{'PASSWORD' | translate}}" required>
                        </label>
                    </div>
                    <button class="button button-small button-positive button-block" ng-disabled="!loginData.username || !loginData.password" type="submit" ng-click="doLogin()" translate="LOGIN"></button>
                    <a class="assertive" ng-click="showResetPassword()"><span translate="FORGOT_YOUR_PASSWORD"></span></a>
                </form>
            </div>
            <div style="height: 30%; min-height: 80px;">
                <div class="dl-seperator-with-legend">
                    <h5><span class="dl-seperator-legend" translate="DONT_HAVE_ACCOUNT"></span></h5>
                </div>
                <div class="padding-top">
                    <button class="button button-small button-energized button-block" ng-click="switchToRegister()" translate="REGISTER_NOW"></button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-modal-view>